# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

*.vsix

# Visual Studio
.vs/

# Dependencies and libs
deps/

deps-pre-build/

libs/

# Build outputs
bin/

obj/
